 <!-- END PAGE CONTAINER-->
</div>

</div>
{% load staticfiles %}
<!-- Jquery JS-->
<script src='{% static "vendor/jquery-3.2.1.min.js" %}'></script>
<!-- Bootstrap JS-->
<script src='{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}'></script>
<!-- Vendor JS       -->
<script src='{% static "vendor/wow/wow.min.js" %}'></script>
<script src='{% static "vendor/animsition/animsition.min.js" %}'></script>
<script src='{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}'>
</script>

<script src='{% static "vendor/circle-progress/circle-progress.min.js" %}'></script>
<script src='{% static "vendor/chartjs/Chart.bundle.min.js" %}'></script>

</script>

<!-- Main JS-->
<script src='{% static "js/main.js" %}'></script>

</body>

</html>
<!-- end document-->
