{% extends 'commons/base_template.html' %}
{% block 'body' %}
{% load render_table from django_tables2 %}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Assetes</strong> Management
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                {% csrf_token %}
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="email-input" class=" form-control-label">{{form.vehical_type.label_tag }}</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                            {{form.vehical_type}}
                                    </div>
                                </div>
                                <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="email-input" class=" form-control-label">{{form.condition.label_tag }}</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                                {{form.condition}}
                                        </div>
                                </div>
                                <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="email-input" class=" form-control-label">{{form.model_name.label_tag }}</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                                {{form.model_name}}
                                        </div>
                                </div>
                                <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="email-input" class=" form-control-label">{{form.model_number.label_tag }}</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                                {{form.model_number}}
                                        </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                            </form>
                        </div>
                        <div class="card-footer">
                                {% render_table table %}
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
{% endblock %}